<%= form_for [@contact] do |f|%>
	<%= f.label :name %>
	<%= f.text_field :name%>
	<br>
	<%= f.label :address%>
	<%= f.text_field :address%>
	<br>
	<%= f.submit 'save'%>
<%end%>
<h4><%= link_to("Back", contacts_path)%></h4>
