<%= form_for [@contact, @email_address] do |f|%>
	<%= f.label :email_address%>
	<%= f.text_field :email_address%>
	<br>
	<%= f.hidden_field :contact_id, value: @contact.id%>
	<br>
	<%= f.submit 'Add'%>
<%end%>
<h4><%= link_to("Back", contact_show_path(@contact.id))%></h4>
